[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mungyukim84
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mungyukim84
	label-Verified = -1..+1 group user/mungyukim84
	push = group user/mungyukim84
	read = group user/mungyukim84
	rebase = group user/mungyukim84
	removeReviewer = group user/mungyukim84
	submit = group user/mungyukim84
[access "refs/heads/*"]
	create = group user/mungyukim84
	push = +force group user/mungyukim84
	pushMerge = group user/mungyukim84
	read = group user/mungyukim84
[access "refs/tags/*"]
	push = group user/mungyukim84
	push = +force group user/mungyukim84
